<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<p><%= @user.email %> has successfully signed up on the site.  Check them out. </p>
	</body>
</html>