<!DOCTYPE html>
<html>
<head>
  <title>LctrMusic</title>
 <center> <%= image_tag('s_and_d_sm.jpg') %> 
 <h3> Music by <I> Lctrmusic</I></h3> </center>
 <%= render 'layouts/header' %>

</head>
<body>

<%= yield %>

</body>
</html>
